torch
numpy
tqdm
nltk
scikit-learn
torchvision
flask
flask-ngrok
pillow
albumentations 
albumentations[pytorch]
nltk
spacy
Pillow
torchvision
scikit-learn
reportlab
transformers
google-generativeai
python-dotenv
huggingface-hub